@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    margin: 50px auto;
    width: 50vh;
    height: 100vh;
    line-height: 1.5;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 23px 55px rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: 50px;
    padding: 1rem;
}


.img-wrapper {
    padding: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper > .equilibrium {
    display: block;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .eye {
    position: absolute;
}

.img-wrapper > .eye.fade {
    opacity: 0;
}

.text h2{
    padding: 10px;
    color: #fff;
    font-weight: 600;
    margin-left: 1rem;
}

.text h3 {
    padding: 10px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 1rem;
}

.price-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: hsl(215, 32%, 27%) 0.1px solid;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    padding: 5px;
    
}

.price p {
    margin-left: 5px;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding: 5px;
}

.time p {
    color: hsl(215, 51%, 70%);
}

.creator {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: wrap;
}

.creator img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: #fff 2px solid;
}

.creator p {
    color:  hsl(215, 51%, 70%);
    margin-left: 1rem;
}

.creator span {
    color: #fff;
}

.text h2:hover, .creator span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.img-wrapper:hover > .equilibrium {
    cursor: pointer;
    filter: blur(3px);
}

.img-wrapper:hover > .eye.fade {
    opacity: 1;
}

.img-wrapper > .equilibrium,
.img-wrapper > .eye {
    transition: 200ms ease-in-out;
    color: hsl(178, 100%, 50%);
}